@model RentMovies.Models.PopularMovie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PopularMovie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popularity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popularity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoteCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoteCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoteAverage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoteAverage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MovieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
